<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Estudiantes</title>
    
    <!-- Agregar enlaces a los estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<!-- Barra de navegación -->
	<nav th:replace="~{navbar :: navbar}"></nav>
	
	<!-- Alertas -->
	<div th:replace="~{flash :: flash}"></div>
		
    <div class="container my-2 py-2 rounded" style="background-color: #f8f9fa">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="title">Listar Cursos</h1>
            </div>
            <div class="col-md-6 text-right">
                <a th:href="@{/cursos/agregar}" class="btn btn-primary">Agregar Curso</a>
            </div>
        </div>
        
        <table class="table table-bordered table-hover mt-2 rounded" style="background-color: #f8f9fa">
            <thead style="background-color: #D5D5D5">
                <tr>
                    <th>ID</th>
                    <th>Curso</th>
                    <th>Descipción</th>
                    <th>Inicia</th>
                    <th>Finaliza</th>
                    <th>Profesor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="curso : ${listaCursos}">
                    <td th:text="${curso.idCurso}"></td>
                    <td th:text="${curso.nombre}"></td>
                    <td th:text="${curso.descripcion}" style="max-width: 20rem"></td>
                    <td th:text="${#temporals.format(curso.fechaInicio, 'dd/MM/yyyy HH:mm')}"></td>
					<td th:text="${#temporals.format(curso.fechaFinalizacion, 'dd/MM/yyyy HH:mm')}"></td>
                    <td th:text="${curso.profesor.nombre + ' ' + curso.profesor.apellido}"></td>
                    <td>
                        <a th:href="@{/cursos/editar/{id}(id=${curso.idCurso})}" class="btn btn-primary btn-sm">Editar</a>
                        <a th:href="@{/cursos/eliminar/{id}(id=${curso.idCurso})}" class="btn btn-danger btn-sm" onclick="return confirmarEliminacion()">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Agregar scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function confirmarEliminacion() {
            return confirm("¿Estás seguro de que deseas eliminar este curso?");
        }
    </script>
</body>
</html>
