<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Editar Profesor</title>
<!-- Agregar enlaces a los estilos de Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Barra de navegación -->
	<nav th:replace="~{navbar :: navbar}"></nav>

	<!-- Alertas -->
	<div th:replace="~{flash :: flash}"></div>
	
	<div class="container">
		<h1>
			Editar Profesor ID: <span th:text="${profesor.idProfesor}"></span>
		</h1>
		<form action="#" th:action="@{/profesores/guardar}"
			th:object="${profesor}" method="POST">
			<input type="hidden" th:field="*{idProfesor}" />
			<div class="form-group">
				<label for="idProfesor">ID:</label> <input type="text"
					class="form-control" id="idProfesor" th:field="*{idProfesor}" />
			</div>
			<div class="form-group">
				<label for="nombre">Nombre:</label> <input type="text"
					class="form-control" id="nombre" th:field="*{nombre}" />
			</div>
			<div class="form-group">
				<label for="apellido">Apellido:</label> <input type="text"
					class="form-control" id="apellido" th:field="*{apellido}" />
			</div>
			<div class="form-group">
				<label for="email">Email:</label> <input type="email"
					class="form-control" id="email" th:field="*{email}" />
			</div>
			<div class="form-group">
				<label for="contrasena">Contraseña:</label> <input type="password"
					class="form-control" id="contrasena" th:field="*{contrasena}" />
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a href="/profesores/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>

	<!-- Agregar scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
