<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Agregar Profesor</title>
<!-- Agregar enlaces a los estilos de Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<!-- Barra de navegación -->
	<nav th:replace="~{navbar :: navbar}"></nav>

	<!-- Alertas -->
	<div th:replace="~{flash :: flash}"></div>
	
	<div class="container">
		<h1>Agregar Profesor</h1>
		<form action="#" th:action="@{/profesores/guardar}" th:object="${profesor}" method="POST">
			<div class="form-group">
				<label for="nombre">Nombre:</label> 
				<input type="text" class="form-control" id="nombre" th:field="*{nombre}" />
				<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"  th:errors="*{nombre}"></small>	
			</div>
			<div class="form-group">
				<label for="apellido">Apellido:</label> 
				<input type="text" class="form-control" id="apellido" th:field="*{apellido}" />
				<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}"  th:errors="*{apellido}"></small>	
			</div>
			<div class="form-group">
				<label for="email">Email:</label> 
				<input type="email" class="form-control" id="email" th:field="*{email}" />
				<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></small>	
			</div>
			<div class="form-group">
				<label for="contraseña">Contraseña:</label> 
				<input type="password" class="form-control" id="contraseña" th:field="*{contrasena}" placeholder="Mínimo 6 caracteres"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('contrasena')}"  th:errors="*{contrasena}"></small>	
			</div>
			<a th:href="@{/profesores/listar}" class="btn btn-secondary">Volver</a>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>

	<!-- Agregar scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
