<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de permisos</title>
    
    <!-- Enlaces a los archivos CSS -->
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" th:href="@{/css/error.css}" />
	
	<!-- Enlaces a Bootstrap -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
	<!-- Barra de navegación -->
	<nav th:replace="~{navbar :: navbar}"></nav>
	
	<div class="error-container">
	    <img src="/img/error.png" alt="Error" />
	    <h1>Error de permisos</h1>
	    <p th:text="${errorMessage}"></p>
	    <a th:href="@{/}">Volver a la página principal</a>
	</div>
</body>
</html>