<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Editar Inscripcion</title>
	
	<!-- Enlaces a los archivos CSS -->
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	
	<!-- Enlaces a Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- Enlaces a Fontawesome -->
	<script src="https://kit.fontawesome.com/c7ba06f67b.js" crossorigin="anonymous"></script>
</head>

<body>
	<!-- Barra de navegación -->
	<nav th:replace="~{navbar :: navbar}"></nav>

	<!-- Alertas -->
	<div th:replace="~{flash :: flash}"></div>
	
	<div class="container">
		<h1>
			Editar Inscripcion: <span th:text="${idInscripcion}"></span>
		</h1>
		
		<form th:action="@{/inscripciones/guardar}" th:object="${inscripcion}" method="POST">
			<div class="form-group">
				<label for="idInscripcion">ID:</label> 
				<input type="text" readonly="readonly" class="form-control" id="idInscripcion" th:field="*{idInscripcion}" />
			</div>
			<div class="form-group">
			    <label for="estudiantes">Estudiante:</label> 
			    <select class="form-control" id="idEstudiante" th:field="*{estudiante.idEstudiante}">
			        <option th:each="estudiante : ${listaEstudiantes}"
			                th:value="${estudiante.idEstudiante}" th:text="${estudiante.nombre + ' ' + estudiante.apellido}"
			                th:selected="${estudiante.idEstudiante == inscripcion.estudiante.idEstudiante}"></option>
			    </select>
			</div>
			<div class="form-group">
			    <label for="cursos">Cursos:</label> 
			    <select class="form-control" id="idCurso" th:field="*{curso.idCurso}">
			        <option th:each="curso : ${listaCursos}"
			                th:value="${curso.idCurso}" th:text="${curso.nombre}"
			                th:selected="${curso.idCurso == inscripcion.curso.idCurso}"></option>
			    </select>
			</div>
			
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a href="/inscripciones/listar" class="btn btn-danger">Cancelar</a>
		</form>
	</div>

	<!-- Agregar scripts de Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
